body {
  background-color: powderblue;
}
.loginBox {
    text-align: center;
    position: relative;
    top: 20%;
}

.cerrarSesionBtn{
    position: absolute;
    right: 0;
}

.titulo{
    text-align: center;
}